.root-layout {
    max-width: 100vw;
    overflow: hidden;
    background: #353535;
}

.root-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.root-content {
    display: flex;
    width: 100%;
    height: 578px;
    padding: 4.5rem 0;
    background: black;
    align-items: center;
}

.layout-bg {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-layout {
    width: 65%;
    margin: 0 auto;
    padding: 24px;
    background: transparent;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    z-index: 100;
}

.home-scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    z-index: 100;
}

.scroll-down-button {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    border-radius: 50%;
    color: #fff;
    border: 2px solid #fff;
    overflow: hidden;
    transform: translate(-50%, -50%);
    animation: scroll-down 1s infinite;
}

@keyframes scroll-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

