//===================== input override =================//
.ant-input {
    border-radius: 6px;
}

//.ant-input-outlined {
//    background: rgba(22, 22, 22, 0.7);
//    border-color: rgba(128, 128, 128, 0.7);
//}

.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
    //background: rgba(22, 22, 22, 0.7);
    border-color: #E50914FF;
}

//================= button override =================//
.ant-btn {
    border: none;
}

.ant-btn-default {
    background: #E50914FF;
    color: #fff;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    //background: #AF060FFF;
    color: #fff;
}

.ant-btn-primary {
    background: #E50914FF;
    color: #fff;
    border-radius: 6px;
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background: #AF060FFF;
    color: #fff;
    border-radius: 6px;
}

.ant-btn-primary:active {
    background-color: #AF060FFF;
    color: #fff;
    border-radius: 6px;
}

//========================= layout override =================//
.ant-layout-header {
    height: 112px;
}


//========================= layout collapse =================//
.ant-collapse .ant-collapse-item .ant-collapse-header {
    color: unset;
    background: #353535;
}

.ant-collapse-borderless .ant-collapse-item .ant-collapse-content {
    color: unset;
    background-color: #353535;
}

.ant-collapse .ant-collapse-item:last-child .ant-collapse-content {
    border-radius: 0;
}

//=========================== select override =====================//
.ant-select-single .ant-select-selector {
    color: #fff;
}

.ant-select .ant-select-arrow {
    color: #fff;
}

.ant-select-selection-item {
    color: #fff;
}

.ant-form-vertical .ant-form-item-label >label {
    color: #fff;
}

//=========================== card override =====================//
.ant-card .ant-card-head {
    padding: 0;
    margin: 0;
}

//=========================== modal override =====================//
.ant-modal-close-x {
    color: #fff;
}