.input-outlined-dark {
    background: rgba(22, 22, 22, 0.7);
    border-color: rgba(128, 128, 128, 0.7);
}

.btn-secondary-dark {
    background: transparent;
    border: 1px solid #353535;
    color: #fff;
    border-radius: unset;
}

.btn-secondary-dark:hover {
    background: #353535;
    border: 1px solid #353535;
    color: #fff;
    border-radius: unset;
}

.btn-secondary-dark:active {
    background: #353535;
    border: 1px solid #353535;
    color: #fff;
    border-radius: unset;
}

.btn-secondary-light {
    background: #ffffff;
    border: 1px solid #353535;
    color: #353535;
    border-radius: unset;
}

.btn-secondary-light:hover {
    background: #ffffff;
    border: 1px solid #353535;
    color: #353535;
    border-radius: unset;
}

.btn-secondary-light:active {
    background: #ffffff;
    border: 1px solid #353535;
    color: #353535;
    border-radius: unset;
}