.signup-root {
  position: absolute;
  height: 100vh;
  background-color: white;
  z-index: 1;
}

.plan-card {

}

.card-title {
  border-radius: 12px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 8px;
  min-height: 83px;
  padding: 10px 16px;
  background: radial-gradient(140.76% 131.96% at 100% 100%, rgb(229, 9, 20) 0%, rgba(74, 42, 150, 0.5) 73.57%, rgba(74, 42, 150, 0) 100%), rgb(29, 82, 157);
}