@import url('https://fonts.googleapis.com/css?family=Open + Sans:300, 400, 700');
@import url('https://fonts.googleapis.com/icon?family=Material + Icons');
@import "./style/layout/layout.css";
@import "./style/override/override.css";

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
    src: url('../public/HelveticaNeue-Medium.otf') format('opentype');
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


